<div id="addform">
    <p>Add A New Tree</p>
    <form action="?action=addaction" method="post">
        <br><input type="text" name="user_name" placeholder="User"/>
        <br><input type="text" name="user_password" placeholder="Password"/>
        <br><input type="text" name="name" placeholder="Tree Name"/>
        <br><input type="text" name="height" placeholder="Height"/>
        <br><input type="text" name="description" placeholder="Description"/>
        <br><input type="Submit" value="Add Tree"/>
    </form>
</div>